

.grid-header { grid-area: header; }
.grid-menu { grid-area: menu; }
.grid-main { grid-area: main; }
.grid-right{ grid-area: right; }
.gird-foot { grid-area: footer; }


.logo{
  height: 80px;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}


.login{
  float: right;
  position: relative;
  color: white;
  font-size: 30px;
  padding: 20px;
}

.checkIn-container{
  display: grid;
  grid-template-columns: auto auto;
  
  width: 100%;
}

.swipe-container {
  position: relative;
  text-align: center;
  
  
  
}

.manual-container {
  position: relative;
  text-align: center;
  
}

.checkIn-container > input{
  border-radius: 5px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.name-header{
  /*color: #1657b9;*/
  padding: 10px;
  
  border-bottom: 1px solid #dfe1e5;
}

.user-sub-info{
  
}

#uploadButton{
  border-radius: 5px;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid-container1{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 50px;
    padding-top: 20px;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;

}

.userItem{
  /*font-family: 'Theinhardt','Arial',sans-serif;*/
  font-family: "Proxima Nova","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.userItem p{
  text-align: center;
}


/*
    <div>Device Test!</div>
          <MediaQuery query="(min-device-width: 1224px)">
          <div>You are a desktop or laptop</div>
          <MediaQuery query="(min-device-width: 1824px)">
            <div>You also have a huge screen</div>
          </MediaQuery>
          <MediaQuery query="(max-width: 1224px)">
            <div>You are sized like a tablet or mobile phone though</div>
          </MediaQuery>
        </MediaQuery>
        <MediaQuery query="(max-device-width: 1224px)">
          <div>You are a tablet or mobile phone</div>
        </MediaQuery>
        <MediaQuery query="(orientation: portrait)">
          <div>You are portrait</div>
        </MediaQuery>
        <MediaQuery query="(orientation: landscape)">
          <div>You are landscape</div>
        </MediaQuery>
        */
#root{
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
}

/* Desktop or laptop */
@media only screen and (min-width: 1224px){
  #root{
    /*background-color: white;*/
    
  }
  .swipe-container{
    
    width: 100%;
  }
  .manual-container{
    padding-left: 30px;
    padding-right: 30px;
  }
  #filter-form{
    margin-left: 10px;
  }
  #totalUserInfo{
    margin-left: 10px;
  }
}
/* Wide display desktop or laptop */
@media only screen and (min-device-width: 1824px){
  #root{
    /*background-color: red;*/
    
  }
  .swipe-container{
    
    width: 100%;
  }
  .manual-container{
    padding-left: 30px;
    padding-right: 30px;
  }
  #totalUserInfo{
    margin-left: 10px;
  }
}

/*571x666*/
/*Changes the layout when viewport goes under width 571px*/

/*
@media (min-width: 500px){
  #root{
    background-color: blue;
    display: flex;
    flex-direction: column;
  }
}
*/

/*Desktop with resize as mobile device*/
@media only screen and (max-width: 1224px){
  #root{
    /*background-color: blue;*/
  }
  .swipe-container{
    
  }
  .manual-container{
    width: 100%;
  }
  #filter-form{
    margin-left: 10px;
  }
  #totalUserInfo{
    margin-left: 10px;
  }
  
}

/* Desktop sized windows reduced */
@media only screen and (max-width: 570px){
  #root{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    height: 100%;
    width: 100%;
    /*background-color: yellow;*/
  }
  .checkIn-container{
    display: flex;
    flex-direction: column;
  }

  .grid-container{
    display: flex;
    flex-direction: column;
  }

  #filter-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #dfe1e5;
  }

  #totalUserInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .logo{
    margin-left: -40px;
  }
  .swipe-container{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
  .manual-container{
    padding-left: 30px;
    padding-right: 30px;
  }
  #filter-form{
    margin-left: 10px;
  }
  #totalUserInfo{
    margin-left: 10px;
  }
}

/*Tablet or mobile device*/
@media only screen and (max-device-width: 1224px){
  #root{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    height: 100%;
    width: 100%;
    /*background-color: yellow;*/
  }
  .checkIn-container{
    display: flex;
    flex-direction: column;
  }

  .grid-container{
    display: flex;
    flex-direction: column;
  }

  #filter-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
  }

  #totalUserInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .logo{
    margin-left: -40px;
  }
  .manual-container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .swipe-container{
    width: 100%;
  }
  #filter-form{
    margin-left: 10px;
  }
  #totalUserInfo{
    margin-left: 10px;
  }
  

}

/* Portrait display */
@media only screen and (orientation: portrait){
  #root{
    /*background-color: gray;*/
  }
  .manual-container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .swipe-container{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
  #filter-form{
    margin-left: 10px;
  }
  #totalUserInfo{
    margin-left: 10px;
  }
}

/* Landscape display */
@media only screen and (orientation: landscape){
  #root{
    /*background-color: purple;*/
  }
 
}


.nav-head-bar{
  background-color: #007fa5;
  margin-bottom: 20px;
  width: 100vw;
}

.primary{
  /*font-family: 'Theinhardt','Arial',sans-serif;*/
  font-family: "Proxima Nova","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: #363636;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.inputBar{
  /*
  width: 100%;
  height: 20%;
  */
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  
  border: 1px solid #dfe1e5;
}

#checkinBtn{
  /*
  width: 100%;
  height: 20%;
  */
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color:#1657b9;
}

.modals{
      width: 400px;
       height: 400px;
       margin:0 auto;
       display:table;
       position: absolute;
       left: 0;
       right:0;
       top: 50%; 
       border:1px solid;
       -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
       -ms-transform:translateY(-50%);
       -o-transform:translateY(-50%);
       transform:translateY(-50%);
}

.modals .modalMessage{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#checkinResult{
  display: none;
}

#swipeSearch{
  padding-bottom: 10%;
}
#swipeResult{
  display: none;
  text-align: center;
}

#displayComponent{
  display: none;
}

#filterBar{
  width: 100%
}

