

.grid-header { grid-area: header; }
.grid-menu { grid-area: menu; }
.grid-main { grid-area: main; }
.grid-right{ grid-area: right; }
.gird-foot { grid-area: footer; }

.logo{
  height: 80px;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.login{
  float: right;
  position: relative;
  color: white;
  font-size: 30px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu right'
    'menu right'
    ;
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

#userItem{
  margin-bottom: 25px;
  font-family: 'Theinhardt','Arial',sans-serif;
}

#userItem p{
  text-align: center;
}

.nav-head-bar{
  background-color: #007fa5;
  margin-bottom: 20px;
}

.primary{
  font-family: 'Theinhardt','Arial',sans-serif;
  color: #363636;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.inputBar{
  /*
  width: 100%;
  height: 20%;
  */
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

#checkinBtn{
  /*
  width: 100%;
  height: 20%;
  */
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color:#1657b9;
}

.modals{
      width: 400px;
       height: 400px;
       margin:0 auto;
       display:table;
       position: absolute;
       left: 0;
       right:0;
       top: 50%; 
       border:1px solid;
       -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
       -ms-transform:translateY(-50%);
       -o-transform:translateY(-50%);
       transform:translateY(-50%);
}

.modals .modalMessage{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#checkinResult{
  display: none;
}

#swipeSearch{
  padding-bottom: 10%;
}
#swipeResult{
  display: none;
  text-align: center;
}

#displayComponent{
  display: none;
}

